* {
  margin: 0;
}

.header {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: yellow;
  position: fixed;
  top: 0;
}

.list-title {
 font-size: 3rem;
 text-indent: 5%;
 width: 150%;
}

.list {

}

.list-item {

}

.poke-box {
  padding: 2.5%;
  position: fixed;
  top: 18%;
  right: 5%;
  background-image: url(./images/grass_type.png);
  background-size:contain;
  width: 136px;
  height: 202px;
  display: flex;
  flex-direction: column;
}

.poke-title {
  margin-left: 3.25%;
  margin-top: -3.5%;
  margin-bottom: -15%;
  font-size: .7rem;
}

.poke-sprite {
  scale: 1.5;
}