@font-face {
  font-family: Pokemon;
  src: url(./fonts/Pokemon-Font.ttf)
}

* {
  margin: 0;
}

.header {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: yellow;
  position: fixed;
  top: 0;
}

.list-title {
 font-size: 3rem;
 text-indent: 5%;
 width: 150%;
}

.list {
  list-style: none;
  display:flex;
  flex-direction: column;
gap: 15px;
margin-top: 15%;
}

.list-item {
text-transform: capitalize;
margin-left: -50%;
font-size: .8rem;
font-family: Pokemon;
border: solid 2px black;
border-radius: 5px;
text-align: center;
padding: 3.5px;
}

.poke-box {
  /* padding: 2.5%; */
  /* position: fixed;
  top: 18%;
  right: 5%; */
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 190px;
  display: flex;
  flex-direction: column;
  
}


.poke-header {
  text-align: top;
  text-transform: capitalize;
  font-size: .7rem;
  display: flex;
  justify-content: space-between;
  margin-right: 18%;
  margin-left: 10%;  
  padding: 3.5% 3.5% 0 3.5%;
}

.grass {
  background-image: url(./images/grass_type.png);
  background-size:contain;
  background-repeat: no-repeat;
}

.electric {
  background-image: url(./images/electric_type.png);
  background-size: contain;  
  background-repeat: no-repeat;

}
.fire {
  background-image: url(./images/fire_type.png);
  background-size: contain;  
  background-repeat: no-repeat;

}
.water {
  background-image: url(./images/water_type.png);
  background-size: contain;  
  background-repeat: no-repeat;

}

.poke-sprite {
  margin-top: -19%;
  margin-bottom: -8%;
}

.poke-move {
  text-transform: capitalize;
  font-size: .8rem;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.poke-type-icon {
  height: 10%;
  margin-bottom: 5%;
  
}
