* {
  margin: 0;
}

.header {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: yellow;
  position: fixed;
  top: 0;
}

.list-title {
 font-size: 3rem;
 text-indent: 5%;
 width: 150%;
}

.list {

}

.list-item {

}

.poke-box {
  border: 2px solid black;
  border-radius: 5px;
  padding: 2.5%;
  position: fixed;
  top: 18%;
  right: 5%;
}